POSTGRES_USER=chatbot_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=superstore_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MONGO_USER=chatbot_user
MONGO_PASSWORD=changeme
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=chatbot_logs

GROQ_API_KEY=gsk_ta_cle_ici
GROQ_MODEL=openai/gpt-oss-120b

APP_NAME=Chatbot Analytique - Backend
LOG_LEVEL=INFO